<div class="card m-3">
    <div class="d-flex justify-content-around p-3">

        <div class="w-50">
            <input class="form-control" name="search" id="search" type="text" [(ngModel)]="searchText"
                placeholder="Search by Name or Price" />
        </div>
        <div class="filter">
            <select
            (change)="onStatuschange($event)"
             name="id" id="id" class="form-select" id="floatingSelect"
                aria-label="Floating label select example">
                <option value="all" [value]="'all'">all</option>
                @for (state of status(); track state.statusId) {
                <option [value]="state.statusName">{{state.statusName}}</option>
                }
            </select>
        </div>
    </div>
</div>
<div class="card m-5 mt-4">
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>ID</th>
                <th scope="col">title</th>
                <th scope="col">description</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            @for (task of tasks() |search: searchText ; track task) {
            <tr>
                <td>{{task.id}}</td>
                <td>{{task.title}}</td>
                <td>{{task.description}}</td>
                <td>
                    <img [src]="task.imgUrl" class="rounded-5 img" alt="">
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>